>wlogout|style_1.css * {
	background-image: none;
	font-size: 20px;
	/* Defaulting to 20 as ${fntSize} is non-standard */
}

@import "$HOME/.config/waybar/theme.css";

window {
	background-color: transparent;
}

button {
	color: <wallbash_fg>;
	background-color: <wallbash_bg>;
	outline-style: none;
	border: none;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
}

button:focus {
	background-color: <wallbash_accent>;
	background-size: 30%;
}

button:hover {
	background-color: <wallbash_accent_hvr>;
	background-size: 40%;
	border-radius: 10px;
	/* Defaulting to 10px for ${active_rad} */
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

/* Button Specific Overrides */
button:hover#lock {
	border-radius: 10px;
	margin: 5px 0px 5px 5px;
}

button:hover#logout {
	border-radius: 10px;
	margin: 5px 0px 5px 0px;
}

button:hover#suspend {
	border-radius: 10px;
	margin: 5px 0px 5px 0px;
}

button:hover#shutdown {
	border-radius: 10px;
	margin: 5px 0px 5px 0px;
}

button:hover#hibernate {
	border-radius: 10px;
	margin: 5px 0px 5px 0px;
}

button:hover#reboot {
	border-radius: 10px;
	margin: 5px 10px 5px 0px;
}

/* Icon Mapping */
#lock {
	background-image: image(url("$HOME/.config/wlogout/icons/lock.png"));
	border-radius: 10px 0px 0px 10px;
	margin: 5px 0px 5px 5px;
}

#logout {
	background-image: image(url("$HOME/.config/wlogout/icons/logout.png"));
	border-radius: 0px;
	margin: 5px 0px 5px 0px;
}

#suspend {
	background-image: image(url("$HOME/.config/wlogout/icons/suspend.png"));
	border-radius: 0px;
	margin: 5px 0px 5px 0px;
}

#shutdown {
	background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"));
	border-radius: 0px;
	margin: 5px 0px 5px 0px;
}

#hibernate {
	background-image: image(url("$HOME/.config/wlogout/icons/hibernate.png"));
	border-radius: 0px;
	margin: 5px 0px 5px 0px;
}

#reboot {
	background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"));
	border-radius: 0px 10px 10px 0px;
	margin: 5px 5px 5px 0px;
}
